<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.trendmobile.santomobile"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Santo Mobile</name>

    <description>
        Aplicación movil del Santo de la Ciudadela donde estan todas las novedades del Club Atlético San Martín de Tucumán.
    </description>

    <author href="https://www.trendtech.com.ar/mobile/proyecto/2/santo-mobile.html" email="support@trendtech.com.ar">
        Trendtech 
    </author>
	
	<preference name="orientation" value="portrait" />
	
	<preference name="fullscreen" value="true" />
	
	<icon src="img/icon.png" />

</widget>